@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); /* 'Bebas Neue' */
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap'); /* 'Alfa Slab One', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap'); /* 'Righteous', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap'); /* 'Cairo', sans-serif; */